/* app css stylesheet */

/*.resaltado img{
  width: 100%;
  height: auto;
}*/

.resaltado:hover {
  border: 2px solid blue;
}

.superpuesta {
  width: 2em;
  height: 2em;
  position: absolute;
  z-index: 999;
  right: 0px;
  border-radius:150px;
}