<div class="alert alert-info alert-dismissible fade show" role="alert" ng-if="vm.mensaje">
    <strong>Atención:</strong> {{ vm.mensaje }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="row">
    <div class="col m-2"> <!-- columna listado -->
        <div class="row m-3"> <!-- filtros -->
            <input type="text" ng-model="busqueda" class="form-control" placeholder="Busca vivienda por nombre o dirección.">
        </div>
        <div class="row m-3">
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" ng-model="busqueda.alquiler">
                <label class="btn btn-primary active" >
                    <input type="radio" name="options" id="option1" autocomplete="off" checked value=""> Todas
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option2" autocomplete="off" value="true"> Alquiler
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="options" id="option3" autocomplete="off" value="false"> Ventas
                </label>
            </div>
        </div> 
        <div class="row m-3">
            <strong>Rango de precio:</strong>
            
        </div>
        <div class="row m-3">
            <label>MIN</label>
            <input type="number" ng-model="vm.filtro.min" step="1" min="0">

            <label>Max</label>
            <input type="number" ng-model="vm.filtro.max" step="1" min="0">
        </div> <!-- fin filtros -->

        <div class="card text-white bg-primary m-3">
            <div class="card-header"><strong>Lista de viviendas</strong></div>
            <div class="card-body bg-white text-dark">
                <div class="row">   
                    <div class="col-6" ng-repeat="vivienda in vm.viviendas | filter:busqueda">
                        <div class="card resaltado" ng-click="vm.vivienda = vivienda">
                            <img class="superpuesta {{(vivienda.alquiler)?'bg-success':'bg-danger'}}"
                                    src="{{ (vivienda.alquiler)?'img\\rent-icon.png':'img\\sale-icon.png' }}"/>
                            <!--<img class="superpuesta"  src="{{ (vivienda.alquiler)?'img\\rent-icon.png':'img\\sale-icon.png' }}"/>-->
                            <img ng-src="{{ vivienda.foto }}" class="card-img-top" alt="Foto de {{ vivienda.nombre }}">
                            <div class="card-body">
                                <p class="card-text"><strong>{{ vivienda.nombre }}</strong></p>
                                <p>Alquiler: {{ vivienda.precio | currency }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
          </div>

    </div> <!-- fin listado -->
    <div class="col m-2"> <!-- columna detalle -->
        <img ng-src="{{ vm.vivienda.foto }}" class="card-img-top" alt="Foto de {{ vm.vivienda.nombre }}" ng-if="vm.vivienda">
    </div> <!-- fin detalle -->
</div>