<h2>Leeme</h2>
<p>En este documento se pueden consultar las diferentes opciones de la aplicación</p>

<h3>Pasos a seguir para ejecutar la aplicación</h3>
    <ol>
        <li><code>npm i</code> --> Instalar la carpeta "node_modules" con todas las librerías que necesitamos.</li>
        <li><code>npm run start</code> --> Arrancar el proyecto junto a la BBDD.</li>
        <li><code>Terminal --> Ejecutar Tarea... --> tsc: seguir</code> --> Para que nos compile los cambios guardados sin tener que arrancar de nuevo el proyecto.</li>
    </ol>
