<h2>Leeme</h2>
<hr>

<p>En este documento se pueden consultar las diferentes opciones de la aplicación</p>

<h3>Pasos a seguir para ejecutar la aplicación</h3>
    <ol>
        <li><code>npm i</code> <i class="fas fa-long-arrow-alt-right"></i> Instalar la carpeta "node_modules" con todas las librerías que necesitamos.</li>
        <li><code>npm run start</code> <i class="fas fa-long-arrow-alt-right"></i> Arrancar el proyecto junto a la BBDD.</li>
        <li><code>Terminal</code> <i class="fas fa-long-arrow-alt-right"></i> <code>Ejecutar Tarea...</code> <i class="fas fa-long-arrow-alt-right"></i> <code>tsc: seguir - tsconfig.json</code> <i class="fas fa-long-arrow-alt-right"></i> Para que nos compile los cambios guardados sin tener que arrancar de nuevo el proyecto.</li>
    </ol>

<hr>
<h3>Información de la aplicación</h3>
    <p>Esta aplicación gestiona la venta y alquiler de viviendas y se compone de las suguientes secciones:</p>
    <ul>
        <li><strong>Inicio:</strong>El apartado principal. En ella se puede ver las diferentes viviendas y se puede buscar entre ellas la deseada.</li>
        <li><strong>Formulario:</strong>En este apartado se podrá dar de alta una nueva vivienda.</li>
        <li><strong>Resumen:</strong>Es el apartado en el que se saca cierta información de la base de datos.</li>
        <li><strong>Léeme:</strong>Fichero informativo que explica la aplicación.</li>
    </ul>