<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container">
            <a class="navbar-brand text-white" href="#">Inmobiliaria IparHouse</a>
            <button class="navbar-toggler " type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" ui-sref="inicio" ui-sref-active="active">
                        <i class="fas fa-house-damage pr-2 pl-2"></i>
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" ui-sref="formulario" ui-sref-active="active">
                        <i class="fas fa-book pr-2 pl-2"></i>
                        Formulario
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" ui-sref="resumen" ui-sref-active="active">
                        <i class="fas fa-book pr-2 pl-2"></i>
                        Resumen
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" ui-sref="leeme" ui-sref-active="active">
                        <i class="fas fa-book pr-2 pl-2"></i>
                        Léeme
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</nav>