<h2>{{ vm.titulo }}</h2>

<div class="row">
    <div class="col">
        <p>Pantalla resumen con los siguientes datos ( filter, map, reduce ):</p>

        <ol>
            <li>Listado ordenado por nombre con los siguientes atributos [ nombre, precio ]</li>
            <li>Primer inmueble con un servicio cocina disponible</li>
            <li>Precio total de todas las viviendas en alquiler con mas de 3 habitaciones </li>
            <li>Listado de todos los nombres de servicios sin repetición</li>
        </ol>

        <div class="border border-primary m-2 p-2">
            <ul>
                <li ng-repeat="ejer1 in vm.ejercicio1">
                    {{ ejer1.nombre }} -- {{ ejer1.precio | currency }}
                </li>
            </ul>
        </div>
        <div class="border border-primary m-2 p-2">
            {{ vm.ejercicio2.nombre }}
        </div>
        <div class="border border-primary m-2 p-2">
            {{ vm.ejercicio3 | currency }}
        </div>
        <div class="border border-primary m-2 p-2">
            {{ vm.ejercicio4 }}
        </div>

    </div>
</div>